@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00e268;
    --color-error: #f87171;

    --color-bg-base: #ffffff;
    --color-bg-muted: #ffffff;
    --color-bg-pinned: #f2fdf7;

    --color-icon-base: #18181b;
    --color-icon-muted: #9ca3af;
    --color-icon-pinned: #00e268;

    --color-border-base: #18181b;
    --color-border-muted: #9ca3af;
    --color-border-card: #edeef0;
    --color-border-pinned: #00e268;

    --color-text-base: #18181b;
    --color-text-muted: #9ca3af;
    --color-text-pinned: #00e268;
  }
}

@layer components {
  .base-ui {
    @apply rounded-[20px] border-2 border-skin-base bg-skin-base;
  }

  .base-card {
    @apply border-skin-card rounded-[20px] border-2 bg-skin-base;
  }

  .pinned-card {
    @apply rounded-[20px] border-2 border-skin-pinned bg-skin-pinned;
  }

  .base-button {
    @apply h-6 w-14 rounded-[20px] border-2 border-skin-base bg-inherit text-xs font-semibold text-skin-base;
  }

  .muted-button {
    @apply h-6 w-14 rounded-[20px] border-2 border-skin-muted bg-inherit text-xs font-semibold text-skin-muted;
  }

  .pinned-button {
    @apply text-skin-pinned h-6 w-14 rounded-[20px] border-2 border-skin-pinned bg-skin-pinned text-xs font-semibold;
  }
}

@layer utilities {
  .debug-red {
    @apply border border-red-400;
  }

  .debug-green {
    @apply border border-green-400;
  }

  .debug-blue {
    @apply border border-blue-400;
  }
}
